<template>
  <div id="crudApp">
    <div class="heading">
      <h1>Cruds</h1>
    </div>
    <div class="my-3">
      Have a look at the database in JSON:
      <a class="btn btn-secondary" href="/api/cruds">Cruds</a>
      <br />Or add a monster
      <button class="btn btn-primary" @click="create()">Add</button>
    </div>
    <div class="card-columns">
      <crud-component
        class="card"
        v-for="crud in cruds"
        v-bind="crud"
        :key="crud.id"
        @update="update"
        @delete="del"
      ></crud-component>
    </div>
  </div>
</template>

<script>
const API_URL = "";
function Crud({ id, color, name }) {
  this.id = id;
  this.color = color;
  this.name = name;
}

import CrudComponent from "./Crud.vue";

export default {
  name: "CrudApp",
  data() {
    return {
      cruds: [],
      working: false
    };
  },
  methods: {
    create() {
      this.mute = true;
      window.axios.get(API_URL + "/api/cruds/create").then(({ data }) => {
        this.cruds.push(new Crud(data));
        this.mute = false;
      });
    },
    read() {
      this.mute = true;
      window.axios.get(API_URL + "/api/cruds").then(({ data }) => {
        console.log(data);
        data.forEach(crud => {
          this.cruds.push(new Crud(crud));
        });
        this.mute = false;
      });
    },
    update(id, color) {
      this.mute = true;
      window.axios.put(API_URL + `/api/cruds/${id}`, { color }).then(() => {
        this.cruds.find(crud => crud.id === id).color = color;
        this.mute = false;
      });
    },
    del(id) {
      this.mute = true;
      window.axios.delete(API_URL + `/api/cruds/${id}`).then(() => {
        let index = this.cruds.findIndex(crud => crud.id === id);
        this.cruds.splice(index, 1);
        this.mute = false;
      });
    }
  },
  watch: {
    mute(val) {
      document.getElementById("mute").className = val ? "on" : "";
    }
  },
  components: {
    CrudComponent
  },
  created() {
    this.read();
  }
};
</script>
<style>
.heading h1 {
  margin-bottom: 0;
}
.clear {
  clear: both;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}
</style>