  
<template>
  <div class="crud">
    <img :src="image" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">Name: {{ name | properCase }}</h5>
      <div class="card-text form-inline">
        <select class="form-control mb-2" @change="update">
          <option
            v-for="col in [ 'red', 'green' ]"
            :value="col"
            :key="col"
            :selected="col === color ? 'selected' : ''"
          >{{ col | properCase }}</option>
        </select>
        <div>
          <button class="btn btn-danger mb-2" @click="del">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CrudComponent",
  computed: {
    image() {
      return `/img/${this.color}.png`;
    }
  },
  methods: {
    update(val) {
      this.$emit("update", this.id, val.target.selectedOptions[0].value);
    },
    del() {
      this.$emit("delete", this.id);
    }
  },
  props: ["id", "color", "name"],
  filters: {
    properCase(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
  }
};
</script>
<style>
</style>