<template>
  <div id="laravel">{{message}}</div>
</template>

<script>
export default {
  name: "HelloLaravel",
  props: {
    message: String
  }
};
</script>

<style>
#laravel {
  background-color: lightgrey;
}
</style>