<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      This is an example app on how you could use Laravel with an Vue.js front.
      <br />All code can be found on
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="//gitlab.com/Aldo-f/laravel-vue"
      >gitlab.com</a>.
    </p>
    <h3>Questions?</h3>
    <ul>
      <li>
        <a href="//t.me/aldofieuw" target="_blank" rel="noopener noreferrer">Telegram</a>
      </li>
      <li>
        <a href="//aldofieuw.com/contact" target="_blank" rel="noopener noreferrer">Contact</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
</style>
