<template>
  <div id="app" class="container">
    <div>
      <b-navbar toggleable="lg" type="light" variant="light">
        <b-navbar-brand href="/">Laravel+Vue</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/">Home</b-nav-item>
            <!-- <b-nav-item to="/about">About</b-nav-item> -->
            <b-nav-item to="/laravel">Data from Laravel</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view />
  </div>
</template>

<style>
#app nav.navbar li a.router-link-exact-active {
  color: black;
}
</style>
<script>
export default {
  name: "App"
};
window.axios = require("axios");
</script>