<template>
  <div class="home">
    <img class="img-fluid" alt="Vue logo" src="../assets/vue-laravel.png" />
    <HelloWorld msg="Welcome to this Laravel + Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
