<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <!-- <HelloLaravel message="This is a test"></HelloLaravel> -->

    <CrudApp></CrudApp>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloLaravel from "@/components/HelloLaravel.vue";
import CrudApp from "@/components/App.vue";

export default {
  name: "home",
  components: {
    CrudApp
  }
};
</script>
